<div class="swiper-slide">
  <a href="/movie/{{id}}/detail"><img src="{{backdrop_img}}" alt="{{title}}" loading="lazy"  />
    <h4 class="swiper-title">{{title}}</h4>
  </a>
  <div class="movie__actions">
    <div class="icon__withtooltip">
      <a class="action watch {{#if watched}}selected{{/if}}" data-id="{{id}}"><svg
          class="icon icon--purple"
          xmlns="http://www.w3.org/2000/svg"
          width="512"
          height="512"
          viewBox="0 0 512 512"
        ><path
            fill="currentColor"
            d="m173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69L432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
          />
        </svg>
      </a>
      <span class="tooltiptext">Add to watch history</span>
    </div>
    <div class="icon__withtooltip">
      <a class="action watchList {{#if watchList}}selected{{/if}}" data-id="{{id}}"><svg
          class="icon icon--blue"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
        ><path
            fill="currentColor"
            d="M1 3h16v2H1Zm0 6h6v2H1Zm0 6h8v2H1Zm8-4.24h3.85L14.5 7l1.65 3.76H20l-3 3.17l.9 4.05l-3.4-2.14L11.1 18l.9-4.05Z"
          /></svg>
      </a>
      <span class="tooltiptext">Add to watch list</span>
    </div>
  </div>
  <div class="swiper-lazy-preloader"></div>
</div>