<div class="swiper-slide">
  {{#if userRate}}
  <div class="movie__corner-rating">
    <div class="movie__corner-rating-text">{{userRate}}</div>
  </div>
  {{/if}}
  <a href="/movie/{{id}}/detail"><img src="{{backdrop_img}}" alt="{{title}}" loading="lazy"  />
    <h4 class="swiper-title">{{title}}</h4>
  </a>
  <div class="movie__actions">
    <div class="icon__withtooltip">
      {{>buttons/iconwatch id=id watched=watched}}
      <span class="tooltiptext">Add to watch history</span>
    </div>
    <div class="icon__withtooltip">
      {{>buttons/iconwatchlist id=id watchList=watchList}}
      <span class="tooltiptext">Add to watch list</span>
    </div>
    <div class="icon__withtooltip">
      {{>buttons/iconrate id=id}}
      <span class="movie__rating">{{vote_average}}</span>
      <span class="tooltiptext">Vote average</span>
    </div>
  </div>
  <div class="swiper-lazy-preloader"></div>
</div>